
@import url(http://fonts.googleapis.com/css?family=Singlet);

h1 {
	font-family: 'Singlet', cursive;
	font-size: 64px;


}

h2 {
	font-family: 'Singlet', cursive;
	font-size: 44px;
	

}

body {
	background: url('wet_snow.png');

}